.container{
 width: 100%;  
 height: 100%; 
}
.sub-container{
width: 80%;
background-color: rgb(252, 165, 160);
margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 60%;
    color: #13183F;
}
button{
    background-color: #13183F;
    border-radius: 28px;
}
.cup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}